<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bank System</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"  href="/static/css/main.css" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.2/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a th:text="#{home}" class="nav-link active" th:href="@{/index}">Home</a>
            </li>
            <li class="nav-item">
                <a th:text="#{banks}" class="nav-link" th:href="@{/banks}">Banks</a>
            </li>
            <li class="nav-item">
                <a th:text="#{clients}" class="nav-link" th:href="@{/clients}">Clients</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:text="#{add}" th:href="@{/index/add}">Add</a>
            </li>
            <li class="nav-item">
                <a  class="nav-link" th:text="#{filter}" th:href="@{/index/filter}">Filter</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container pt-5">
    <div class="container-fluid pb-3">
        <h2 th:text="#{header}">Add a new bank to the system</h2>
    </div>
    <form th:object="${bank}" method="post">
        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
            <p th:text="#{error}" >The form contained errors!</p>
        </div>
        <div class="p-2">
            <label class="form-label" th:text="#{name}" for="name">Name of the new bank:</label>
            <input class="form-control" type="text" th:field="*{name}" name="name" id="name"/>
            <div th:if="${#fields.hasErrors('name')}" class="alert alert-warning" role="alert" th:errors="*{name}">
                This is a warning alert—check it out!
            </div>
        </div>

        <div class="row p-2">
            <div class="col-sm-2">
                <label class="form-label" th:text="#{type}"> Type of Bank: </label>
            </div>
            <div class="col-sm-10">
                <select name="type" class="form-select" th:field="*{type}">
                    <option class="text-capitalize" th:each="type:${types}" th:value="${type}" th:text="${type}"
                            value="CENTRAL">
                        Central bank
                    </option>
                </select>
            </div>
        </div>
        <div class="p-2">
            <label class="form-label" th:text="#{headquarter}" for="headquarters">Headquarters of the new bank:</label>
            <input class="form-control" th:field="*{headquarters}" type="text" name="headquarters" id="headquarters"/>
            <div th:if="${#fields.hasErrors('headquarters')}" class="alert alert-warning" role="alert"
                 th:errors="*{headquarters}">
                This is a warning alert—check it out!
            </div>
        </div>
        <div class="border rounded mt-3 mb-3 pt-2 pb-2">
            <div class="p-2">
                <label class="form-label" for="ceoname" th:text="#{chieflabel}">Chief executive officer:</label>
                <input class="form-control" th:field="*{ceoname}" type="text" name="ceoname" id="ceoname"/>
                <div th:if="${#fields.hasErrors('ceoname')}" class="alert alert-warning" role="alert"
                     th:errors="*{ceoname}">
                    This is a warning alert—check it out!
                </div>
            </div>
            <div class="p-2">
                <label class="form-label"  th:text="#{salary}" for="ceosalary">CEO's salary:</label>
                <input class="form-control" th:field="*{ceosalary}" type="number" name="ceosalary" id="ceosalary"/>
                <div th:if="${#fields.hasErrors('ceosalary')}" class="alert alert-warning" role="alert"
                     th:errors="*{ceosalary}" >
                    This is a warning alert—check it out!
                </div>
            </div>
            <div class="p-2">
                <label class="form-label" th:text="#{office}" for="ceosince">Date of taking up office:</label>
                <input class="form-control" th:field="*{ceosince}" type="date" name="ceosince" id="ceosince"/>
                <div th:if="${#fields.hasErrors('ceosince')}" class="alert alert-warning" role="alert"
                     th:errors="*{ceosince}">
                    This is a warning alert—check it out!
                </div>
            </div>
        </div>
        <div class="p-2">
            <input class="btn btn-dark" th:value="#{submit}" type="submit" value="Add Bank"/>
        </div>
    </form>
</div>
</body>
</html>
