<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bank System</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"  href="/static/css/main.css" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.2/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a th:text="#{home}" class="nav-link active" th:href="@{/index}">Home</a>
            </li>
            <li class="nav-item">
                <a th:text="#{banks}" class="nav-link" th:href="@{/banks}">Banks</a>
            </li>
            <li class="nav-item">
                <a th:text="#{clients}" class="nav-link" th:href="@{/clients}">Clients</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:text="#{add}" th:href="@{/index/add}">Add</a>
            </li>
            <li class="nav-item">
                <a  class="nav-link" th:text="#{filter}" th:href="@{/index/filter}">Filter</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container pt-5">
    <div class="container-fluid pb-3">
        <h2 th:text="#{header}">Add a new client to the system</h2>
    </div>
    <form th:object="${client}" method="post">
        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
            <p th:text="#{error}">The form contained errors!</p>
        </div>
        <div class="p-2">
            <label class="form-label" th:text="#{addclient.name}" for="name">Name of the new client:</label>
            <input class="form-control" th:field="*{name}" type="text" name="name" id="name"/>
            <div th:if="${#fields.hasErrors('name')}" class="alert alert-warning" role="alert" th:errors="*{name}">
                This is a warning alert—check it out!
            </div>
        </div>
        <div class="p-2">
            <label class="form-label" th:text="#{addclient.score}" for="creditscore">Credit Score of the new
                client:</label>
            <input class="form-control" th:field="*{creditscore}" type="number" name="creditscore" id="creditscore"/>
            <div th:if="${#fields.hasErrors('creditscore')}" class="alert alert-warning" role="alert"
                 th:errors="*{creditscore}">
                This is a warning alert—check it out!
            </div>
        </div>
        <div class="p-2">
            <label class="form-label" th:text="#{addclient.address}" for="address">Address of the new client:</label>
            <input class="form-control" th:field="*{address}" type="text" name="address" id="address"/>
            <div th:if="${#fields.hasErrors('address')}" class="alert alert-warning" role="alert"
                 th:errors="*{address}">
                This is a warning alert—check it out!
            </div>
        </div>
        <div class="p-2">
            <label class="form-label" th:text="#{banklabel}">Choose a bank:</label>
            <select name="bankId" id="bankId">
                <option th:each="choice : ${bankList}" th:text="${choice.name}" th:value="${choice.id}">Bank name
                </option>
            </select>
        </div>
        <div class="p-2">
            <input class="btn btn-dark" th:value="#{submit}" type="submit"/>
        </div>
    </form>
</div>
</body>
</html>