<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bank System</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"  href="/static/css/main.css" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.2/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a th:text="#{home}" class="nav-link active" th:href="@{/index}">Home</a>
            </li>
            <li class="nav-item">
                <a th:text="#{banks}" class="nav-link" th:href="@{/banks}">Banks</a>
            </li>
            <li class="nav-item">
                <a th:text="#{clients}" class="nav-link" th:href="@{/clients}">Clients</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:text="#{add}" th:href="@{/index/add}">Add</a>
            </li>
            <li class="nav-item">
                <a  class="nav-link" th:text="#{filter}" th:href="@{/index/filter}">Filter</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container p-5 d-flex justify-content-center">
    <h2 th:text="${bank.getName()}">Name</h2>
</div>
<div class="row ">
    <div class="col-sm-6 d-flex justify-content-center">
        <img class="rounded-circle img-fluid" src="../../images/logo.png" alt="Logo">
    </div>
    <div class="col-sm-6">
        <div class="p-2">
            <h5 th:text="#{bankif.ceo}">Executive Director:</h5>
            <span th:text="${bank.getCeo().getName()}">John</span>
        </div>
        <div class="p-2">
            <h5 th:text="#{bankif.since}">Since:</h5>
            <span th:text="${bank.getCeo().getInOffice()}">666</span>
        </div>
        <div class="p-2">
            <h5 th:text="#{bankif.type}">Type of bank:</h5>
            <span class="text-capitalize" th:text="${bank.getType()}">Commercial</span>
        </div>
        <div class="p-2">
            <h5 th:text="#{bankif.list}">List of clients:</h5>
            <ol>
                <li th:each="client : ${bank.getClients()}" th:text="${client.getName()}"></li>
            </ol>
        </div>
    </div>
</div>

</body>
</html>