<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bank System</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"  href="/static/css/main.css" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.2/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a th:text="#{home}" class="nav-link active" th:href="@{/index}">Home</a>
            </li>
            <li class="nav-item">
                <a th:text="#{banks}" class="nav-link" th:href="@{/banks}">Banks</a>
            </li>
            <li class="nav-item">
                <a th:text="#{clients}" class="nav-link" th:href="@{/clients}">Clients</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:text="#{add}" th:href="@{/index/add}">Add</a>
            </li>
            <li class="nav-item">
                <a  class="nav-link" th:text="#{filter}" th:href="@{/index/filter}">Filter</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container table-responsive pt-5">
    <div class="container-fluid pb-3">
        <h2 th:text="#{header}">List of all banks</h2>
    </div>
    <table class="table table-striped ">
        <thead class="bg-secondary table-dark">
        <tr>
            <th th:text="#{banks.name}">Name</th>
            <th th:text="#{banks.type}">Type</th>
            <th th:text="#{banks.headquarters}">Headquarters</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="bank : ${banks}">
            <td th:text="${bank.getName()}">Name of bank</td>
            <td th:text="${bank.getType()}">Type of bank</td>
            <td th:text="${bank.getHeadquarters()}">Headquarters of bank</td>
            <td><a class="btn btn-dark"
                   href="banks/bankinfo.html"
                   th:text="#{moreinfo}"
                   th:href="@{/banks/bankinfo(bankId=${bank.id})}">
                More Info
            </a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>