<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bank System</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"  href="/static/css/main.css" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.2/css/bootstrap.min.css}"/>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a th:text="#{home}" class="nav-link active" th:href="@{/index}">Home</a>
            </li>
            <li class="nav-item">
                <a th:text="#{banks}" class="nav-link" th:href="@{/banks}">Banks</a>
            </li>
            <li class="nav-item">
                <a th:text="#{clients}" class="nav-link" th:href="@{/clients}">Clients</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:text="#{add}" th:href="@{/index/add}">Add</a>
            </li>
            <li class="nav-item">
                <a  class="nav-link" th:text="#{filter}" th:href="@{/index/filter}">Filter</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container p-5">
    <h2>
        <span th:text="#{clientinfo.number}">Client №</span><span> </span><span th:text="${client.getId()}">0</span>
    </h2>
</div>
<div class="container row">
    <div class="col-sm-4">
        <img class="rounded-circle img-fluid" src="../../images/img.png" alt="Avatar">
    </div>
    <div class="col-sm-8">
        <div class="p-2">
            <h5 th:text="#{clientinfo.name}">Name:</h5>
            <span th:text="${client.getName()}">John</span>
        </div>
        <div class="p-2">
            <h5 th:text="#{clientinfo.score}">Credit Score:</h5>
            <span th:text="${client.getCreditScore()}">666</span>
        </div>
        <div class="p-2">
            <h5 th:text="#{clientinfo.address}">Address:</h5>
            <span th:text="${client.getAddress()}">Baker Street</span>
        </div>
        <div class="p-2">
            <h5 th:text="#{clientinfo.list}">Client of:</h5>
            <ol>
                <li th:each="bank : ${client.getBanks()}" th:text="${bank.getName()}"></li>
            </ol>
        </div>
    </div>
</div>
</body>
</html>