<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SQL Error</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.2/css/bootstrap.min.css}"  href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/css/main.css}"  href="/static/css/main.css" />
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="row p-5 d-flex justify-content-center align-items-center">
    <h1 class="text-center" th:text="#{error}" >General SQL problem occurred!</h1>
    <p class="text-center" th:text="${status}"></p>
    <h3 class="text-center" th:text="#{apology}">Please excuse us for the inconvenience.</h3>
</div>
</body>
</html>