<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error page</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"  href="/static/css/main.css" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.2/css/bootstrap.min.css}"  href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" />
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class=" p-5 d-flex flex-column justify-content-center align-items-center">
    <h1 th:text="#{error}">A problem occurred!</h1>
    <p th:text="${status}"></p>
    <a th:text="#{back}" th:href="@{/home}" class="btn btn-dark">Back</a>
</div>
</body>
</html>