<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Filter Banks</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"  href="/static/css/main.css" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.2/css/bootstrap.min.css}"  href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" />
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a th:text="#{home}" class="nav-link active" th:href="@{/index}">Home</a>
            </li>
            <li class="nav-item">
                <a th:text="#{banks}" class="nav-link" th:href="@{/banks}">Banks</a>
            </li>
            <li class="nav-item">
                <a th:text="#{clients}" class="nav-link" th:href="@{/clients}">Clients</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:text="#{add}" th:href="@{/index/add}">Add</a>
            </li>
            <li class="nav-item">
                <a  class="nav-link" th:text="#{filter}" th:href="@{/index/filter}">Filter</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container p-5">
    <div>
        <form method="post" th:object="${filter}" class="flex-column">
            <label for="ceosince" th:text="#{datelabel}" class="form-label my-2"><h5>Banks with CEO in office after:</h5></label>
            <input class="form-control my-2" th:field="*{inOffice}" type="date" name="ceosince" id="ceosince">
            <button class="btn btn-dark my-2 px-4" th:text="#{findlabel}" type="submit"><h5>Find</h5></button>
        </form>
    </div>
    <div class="container-fluid pt-5 text-center">
        <h2 th:text="#{headerlabel}">List of filtered banks</h2>
    </div>
</div>
<div class="container table-responsive pt-1">
    <table class="table table-striped ">
        <thead class="bg-secondary table-dark">
        <tr>
            <th th:text="#{banks.name}">Name</th>
            <th th:text="#{banks.type}">Type</th>
            <th th:text="#{banks.headquarters}">Headquarters</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="bank : ${banks}">
            <td th:text="${bank.getName()}">Name of bank</td>
            <td th:text="${bank.getType()}">Type of bank</td>
            <td th:text="${bank.getHeadquarters()}">Headquarters of bank</td>
            <td><a class="btn btn-dark"
                   href="banks/bankinfo.html"
                   th:text="#{moreinfo}"
                   th:href="@{/banks/bankinfo(bankId=${bank.id})}">
                More Info
            </a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>