<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Filter</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"  href="/static/css/main.css" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.2/css/bootstrap.min.css}"  href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" />
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container flex-column p-5 d-flex justify-content-center align-items-center">
    <a th:href="@{/filterbanks}"  class="p-5 m-5 btn btn-dark"><h3 th:text="#{banks}">Filter banks</h3></a>
    <a th:href="@{/filterclients}" class="p-5 m-5 btn btn-dark"><h3 th:text="#{clients}">Filter clients</h3></a>
</div>
</body>
</html>