<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bank System</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"  href="/static/css/main.css" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.2/css/bootstrap.min.css}"  href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" />
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a th:text="#{home}" class="nav-link active" th:href="@{/index}">Home</a>
            </li>
            <li class="nav-item">
                <a th:text="#{banks}" class="nav-link" th:href="@{/banks}">Banks</a>
            </li>
            <li class="nav-item">
                <a th:text="#{clients}" class="nav-link" th:href="@{/clients}">Clients</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:text="#{add}" th:href="@{/index/add}">Add</a>
            </li>
            <li class="nav-item">
                <a  class="nav-link" th:text="#{filter}" th:href="@{/index/filter}">Filter</a>
            </li>
        </ul>
    </div>
</nav>
<div class="row p-5 d-flex justify-content-center align-items-center">
    <div class="container p-5 m-5 bg-dark text-white">
        <h1 class="text-center" th:text="#{welcome}">Welcome to our bank system web manager!</h1>
        <h3 class="text-center"></h3>
    </div>
</div>
</body>
</html>